@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

body {
  min-height: 100vh;
  color: var(--fg);
  font-family:
    pulp,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: #dd0f50;
  background-image: radial-gradient(#ddd 1px, transparent 1px),
    radial-gradient(#ddd 1px, transparent 1px);
  background-position:
    0 0,
    25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
  
}

* {
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-RegularItalic.woff2);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-BoldItalic.woff2);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-ExtraBold.woff2);
  font-weight: 800;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-ExtraBoldItalic.woff2);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-SemiBold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-SemiBoldItalic.woff2);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-MediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-LightItalic.woff2);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-ExtraLight.woff2);
  font-weight: 200;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-ExtraLightItalic.woff2);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-Outline.woff2);
  font-weight: 100;
}
@font-face {
  font-family: pulp;
  src: url(../../assets/fonts/PulpDisplay-OutlineItalic.woff2);
  font-weight: 100;
  font-style: italic;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
